<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--link href="./static/bootstrap-4.0.0-dist/css/bootstrap.min.css" rel="stylesheet" -->
  <!--script src="./static/bootstrap-4.0.0-dist/js/bootstrap.bundle.min.js"></script -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" >
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
 
  <title>{% block title %} {% endblock %}</title>

  </head>
  <body >
    <form method="post">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index')}}">Return</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
              
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                General
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div>
                 
                  <button type="submit" class="dropdown-item" name="button_clicked" value="Button 1">Data</button>
                  <button type="submit" class="dropdown-item" name="button_clicked" value="Button 2">Daily activity profile</button>
                  <button type="submit" class="dropdown-item" name="button_clicked" value="Button 3">Data Masking</button>
                  <button type="submit" class="dropdown-item" name="button_clicked" value="Button 6">Cleaning files individually</button>
                  <button type="submit" class="dropdown-item" name="button_clicked" value="Button 10">Consolidated_activity_rest_period_detection</button>
                  <button type="submit" class="dropdown-item" name="button_clicked" value="Button 11">Read a sleep_diary</button>
                  <button type="submit" class="dropdown-item" name="button_clicked" value="Button 12">Automatic_detection_of_rest_activity_periods</button>
                  
             
                
                  </div>
                <div class="dropdown-divider"></div>
                 <button type="submit" class="dropdown-item" name="button_clicked" value="Button 14">Actigrafy Data Day By Day</button>
                  
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Analysis
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div>
                 
                  <button type="submit" class="dropdown-item" name="button_clicked" value="Button 4">Cosinor analysis</button>
                  <button type="submit" class="dropdown-item" name="button_clicked" value="Button 5">Functional linear modelling</button>
                  <button type="submit" class="dropdown-item" name="button_clicked" value="Button 7">Roennebergs Algorithm</button>
                  <button type="submit" class="dropdown-item" name="button_clicked" value="Button 8">Singular Spectrum Analysis Algorithm</button>
                  <button type="submit" class="dropdown-item" name="button_clicked" value="Button 9">Multi_fractal</button>
                   
             
                
                  </div>
                
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Selection
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div>
                 
                 
                  <button type="submit" class="dropdown-item" name="button_clicked" value="Button 13">Select from pyActigrafy file</button>
                  <button type="submit" class="dropdown-item" name="button_clicked" value="Button 15">Select from pyActigrafy file_Interval</button>
                   
                
                  </div>
               
            </li>
          </ul>
        
        </div>
      </nav>

    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
